{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group list-group-horizontal-sm">
    {% for name in valueables%}
    <li class="list-group-item bg-dark" style="color: aliceblue;"><b>{{name.ticker}}</b> &nbsp;<span class="badge badge-success">$ {{name.price}}</span></li>
    {% endfor %}
  </ul>
<div>

<br/>
<br/>


{% endblock %}

<form action="{% url 'stock' name.ticker %}" class="form-inline my-2 my-lg-0" method="GET">
    <button class="btn btn-primary" style="width: auto; height: auto;" value="" type="submit" >🔎 Take a Look</button>
</form>