{% extends "base.html" %}

{% block title%}AlgoTrade | {{stock.symbol}} | ${{stock.profile.price}} {% endblock %}

{% block content %}

  <div class="container">
    <div class="container-fluid">
      <li class="list-group-item bg-dark" style="color: aliceblue;"><h1><b>{{stock.profile.companyName}}</b> ({{stock.symbol}})
        <br/>
        {% if stock.profile.changes < 0 %}
          <span class="badge badge-danger">$ {{stock.profile.price}} &nbsp; -${{change}}/{{stock.profile.changesPercentage}}</span></h1>
        {% else %}
          <span class="badge badge-success">$ {{stock.profile.price}} &nbsp; ${{change}}/{{stock.profile.changesPercentage}}</span></h1>
        {% endif %}
      </li>
    </div>
    <br/>
    <div class="container">
      <h3>
        <ul class="list-group">
          {% if stock.profile.sector == '' %}
          {% else %}
            <li class="list-group-item">Sector: <b>{{stock.profile.sector}}</b></li>
          {% endif %}
          <li class="list-group-item">Market: <b>{{stock.profile.exchange}}</b></li>
          <li class="list-group-item"><h6 style="text-align: justify;"><b>{{stock.profile.description}}</b></h6></li>
        </ul>
      </h3>
    </div>
    <br/>
    <div class="container">
      <li class="list-group-item" style="text-align: center;"><h1><b>Stock chart [30 min]</b></h1></li>
      <li class="list-group-item" style="background-color: #292b2c;"><canvas id="mainChart" style="background-color: #292b2c;"></canvas></li>
    </div>
    <!--
    <h1 class="display-10 font-weight-bold">
      Strategies 🤓 📐
    </h1>
    <hr class="my-4">
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Moving Avarage Strategy</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Moving Average Convergence Divergence Srategy</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <h1 class="display-10 font-weight-bold">
              Exponential Moving Avarage 
            </h1>
            <hr class="my-4">
            <canvas id="movaChart"></canvas>
            <br/>
            <h2>How does the strategy works ?</h2>
            <ul>
              <li>Buy when the 5-period EMA <span class="badge badge-dark">&nbsp;</span> crosses from below to above the 20-period EMA <span class="badge badge-danger">&nbsp;</span>, and the price, five, and 20-period EMAs are above the 50 EMA <span class="badge badge-primary">&nbsp;</span>.</li>
              <li>For a sell trade, sell when the 5-period EMA <span class="badge badge-dark">&nbsp;</span> crosses from above to below the 20-period EMA <span class="badge badge-danger">&nbsp;</span>, and both EMAs and the price are below the 50-period EMA <span class="badge badge-primary">&nbsp;</span>.</li>
              <li>Place the initial stop-loss order below the 20-period EMA <span class="badge badge-dark">&nbsp;</span> (for a buy trade).</li>
            </ul>  
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <h1 class="display-10 font-weight-bold">
              Moving Average Convergence Divergence
            </h1>
            <hr class="my-4">
            <canvas id="macdChart"></canvas>
            <br/>
            <h2>How does the strategy works ?</h2>
            <ul>
              <li>Trade the MACD <span class="badge badge-primary">&nbsp;</span> and Signal line <span class="badge badge-danger">&nbsp;</span> crossovers. Using the trend as the context, when the price is trending higher (MACD HIST <span class="badge badge-secondary">&nbsp;</span> should be above zero line), buy when the MACD <span class="badge badge-primary">&nbsp;</span> crosses above the Signal line <span class="badge badge-danger">&nbsp;</span> from below. In a downtrend (MACD HIST <span class="badge badge-secondary">&nbsp;</span> should be below zero line), short sell when the MACD <span class="badge badge-primary">&nbsp;</span> crosses below the Signal line <span class="badge badge-danger">&nbsp;</span>.</li>
            </ul>  
          </div>
        </div>
      </div>
    </div>
    -->
    <br/>
    <br/>

    {% if news_b == 0 %}
    {% else %}
      <h1 class="display-10 font-weight-bold">
        Latest {{stock.symbol}} news 📰
      </h1>
      <hr class="my-4">
        <div class="row">
        {% for item in news %} 
            <div class="col-sm-6" style="width: 18rem;">
              <img src="{{item.urlToImage}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text" style="text-align: justify;">{{item.content}}</p>
                <a href="{{item.url}}" class="btn btn-primary">Take a Look</a>
              </div>
            </div>
            <br/>
          {% endfor %}
        </div>
    {% endif %}
    <br/>
    <br/>
    <br/>

  </div>
    <!-- Java Script for chart.js-->
    <script>

      var symbol = "{{stock.symbol}}";

      //Get API//
      const api_url = 'https://fmpcloud.io/api/v3/historical-chart/30min/'+ symbol +'?apikey=4f2b01132ec60b46eaa5a5916775d383'
      
      async function getData(){
        //fetch the data on the api---------------------
        var response = await fetch(api_url);
        var data = await response.json();

        //get the values from the API
        //get the close values-------------------------------------------------
        var value = []
        for (var i in data) {
          value.push(parseFloat(data[i]["close"]));
        }
        value = value.reverse();
        //---------------------------------------------------------------------

        //time frame of the main chart-----------------------------------------
        var timevalues = []
        for (var i in data) {
          timevalues.push(data[i]["date"]);
        }
        timevalues = timevalues.reverse();
        //---------------------------------------------------------------------

        //Main Chart of the Stock-----------------------------------------------
        var ctx = document.getElementById('mainChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: timevalues,
                datasets: [{
                    label: 'Close Price',
                    minBarLength: 200,
                    data: value,
                    fill: false,
                    backgroundColor: '#34384b',
                    borderColor:'#228b22',
                    borderWidth: 4,
                },
              ]
            },
            options: {
                legend:{
                  display:false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }],
                    xAxes: [{
                        display:false
                    }]
                },
            }
        });
      }

      getData();
    </script>
{% endblock %}